<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <!-- Nwtwork Common Folder -->
    <add key="EntryImage" value="\\10.101.10.21\SteisEntryImage" />
    <!-- Logging Path -->
    <add key="LogPath" value="C:\SteisMarks\Log" />
    <!-- Debug, Trace, Information, Warning, Error -->
    <add key="LogLevel" value="Debug" />
    <!-- Exclude Test (GouID) -->
    <add key="ExcludeTest" 
      value="55, 57, 59, 61, 64, 66, 68, 70, 74, 76, 80, 105, 106, 107, 108, 109, 112, 113, 114, 117, 118, 121, 122, 124, 127, 128, 134, 137"
    />
  </appSettings>

  <connectionStrings>
    <add name="Steis1" connectionString="Data Source=10.101.10.101,14336;Initial Catalog=Steis1;User ID=steis;Password=steis" providerName="System.Data.SqlClient" />
    <add name="Steis2" connectionString="Data Source=10.101.10.101,14336;Initial Catalog=Steis2;User ID=steis;Password=steis" providerName="System.Data.SqlClient" />
    <add name="Steis3" connectionString="Data Source=10.101.10.101,14336;Initial Catalog=Steis3;User ID=steis;Password=steis" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>