<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <!-- Nwtwork Common Folder -->
    <add key="EntryImage" value="\\10.101.10.21\SteisEntryImage" />
    <!-- Logging Path -->
    <add key="LogPath" value="C:\SteisMarks\WEB_UPLOADS\Log" />
    <!-- Debug, Trace, Information, Warning, Error -->
    <add key="LogLevel" value="Debug" />

    <!-- OLD, OPERATIONAL, AWS, LOCAL -->
    <add key="OPERATION_MODE" value="AWS" />
    <!-- Use them properly in OPERATION_MODE -->
    <add key="URL_OLD" value="https://data1.steis.jp/webentry/" />
    <add key="URL_OPERATIONAL" value="https://data1.steis.jp/WebEntry2022/" />
    <add key="URL_AWS" value="http://10.101.10.21/WebEntry2022/" />
    <add key="URL_LOCAL" value="http://localhost/WebEntry2022VS/" />
  </appSettings>

</configuration>